<!-- 
  COMP229 WEBAPPLICATION
  GROUP 5 - OneAPP 
  MEMBERS: 
    Munther Al Shukait – 300930980 
    Michelle Fajardo– 301097601 
    Gai Huang – 300945908 
    Elena Florance Floreanu – 301095850
    Sanamdeep Singh  – 301107513 
    David Yau Zhong - 301040340
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>